<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .box-item {
      display: grid;
      grid-column-gap: 20px;
      padding: 1em;
      border: 0.5em solid black;
      background-color: navy;
      width: 200px;
      height: 200px;
    }
  </style>
</head>
<body>
    <h3>Welcome!</h3>
    
    {% for x in range(0,times): %}
        <div class="box-item"></div>
    {% endfor %}

</body>
</html>